extends ../dashboard

block inner-content
    h1.text-center.mb-4 Reports
        h3.text-center.mb-3 Filters
        form(method='post', action='/reports')
            .container
                .row.mb-3
                    .col-4
                        .custom-control.custom-radio
                            input#navreport.custom-control-input(
                                name='report_type'
                                type='radio'
                                value='nav'
                                checked
                            )
                            label.custom-control-label(for='navreport') NAV
                    .col-4
                        .custom-control.custom-radio
                            input#payrollreport.custom-control-input(
                                name='report_type'
                                type='radio'
                                value='payroll'
                                disabled
                            )
                            label.custom-control-label(for='payrollreport') Payroll
                    .col-4
                        .custom-control.custom-radio
                            input#t24report.custom-control-input(
                                name='report_type'
                                type='radio'
                                value='t24'
                            )
                            label.custom-control-label(for='t24report') T24
                .row.mb-4
                    .col-6
                        label(for='fdate') From
                        input#fdate.date.form-control(type='text' value='' name='report_start_date' placeholder='yyyy-mm-dd' required)
                    .col-6
                        label(for='tdate') To
                        input#tdate.date.form-control(type='text' value='' name='report_end_date' placeholder='yyyy-mm-dd' required)
                .row.mb-4
                    .col-12
                        button.w-100.btn.btn-success(type='submit') Submit
        h2.text-center.my-3 List
        div.tab-content
            div.tab-pane.show.active(id='report')
                .table-responsive
                    table(class='table table-striped table-hover' cellpadding='5')
                        thead
                            tr
                                th ID
                                th Type
                                th Download
                                th Delete
                        tbody
                            -
                            each report in reports
                                tr
                                    td #{report.id}
                                    td #{report.type}
                                    td
                                        form(method='get', action=report.report_download)
                                            button.btn.btn-info.btn-sm(type = submit) Download
                                    td
                                        form(method='post', action=report.report_download + "/delete")
                                            button.btn.btn-danger.btn-sm(type = submit) Delete
block scripts
  script.
    $('.date').datepicker({
      dateFormat: 'yy-mm-dd'
    });
