extends ../dashboard

block inner-content
    .row
        a(href='/reports/statistics')
            button Statistics Report
    .row
        a(href='/reports/NAV')
            button NAV Report
    .row.mb-3
        .col-12.text-center
            h2 Created Report
    .row.mb-3
        .col-md-12.col-lg-12
            ul.nav.nav-tabs
                li.nav-item
                    a(class='nav-link active' href='#all' id='all-tab' data-toggle='tab' aria-controls='home' aria-expanded='true') All
                li.nav-item
                    a(class='nav-link' href='#statistic' id='statistic-tab' data-toggle='tab') Statistic
                li.nav-item
                    a(class='nav-link' href='#T24' id='T24-tab' data-toggle='tab') T24
            div.tab-content
                div.tab-pane.show.active(id='all')
                    .table-responsive
                        table(class='table table-striped table-hover' cellpadding='5')
                            thead
                                tr
                                    th Report ID
                                    th Attribute 1
                                    th Attribute 2
                                    th Boolean Type
                            tbody
                                -
                                    var allReports = [{id: 1, a1: 1, a2: 1, bool: true }, {id: 2, a1: '2', a2: '2', bool: false }, {id: 3, a1: 1, a2: 1, bool: true }, {id: 4, a1: '2', a2: '2', bool: false }]
                                each allR in allReports
                                    tr
                                        td
                                            input(type='checkbox' name=allR.id)
                                            |   #{allR.id}
                                        td #{allR.a1}
                                        td #{allR.a2}
                                        if allR.bool
                                            td.bg-success True
                                        else
                                            td.bg-warning False
                div.tab-pane(id='statistic')
                    .table-responsive
                        table(class='table table-striped table-hover' cellpadding='5')
                            thead
                                tr
                                    th Report ID
                                    th Attribute 1
                                    th Attribute 2
                                    th Boolean Type
                            tbody
                                -
                                    var statReports = [{id: 1, a1: 1, a2: 1, bool: true }, {id: 2, a1: '2', a2: '2', bool: false }]
                                each statR in statReports
                                    tr
                                        td
                                            input(type='checkbox' name=statR.id)
                                            |   #{statR.id}
                                        td #{statR.a1}
                                        td #{statR.a2}
                                        if statR.bool
                                            td.bg-success True
                                        else
                                            td.bg-warning False
                div.tab-pane(id='T24')
                    .table-responsive
                        table(class='table table-striped table-hover' cellpadding='5')
                            thead
                                tr
                                    th Report ID
                                    th Attribute 1
                                    th Attribute 2
                                    th Boolean Type
                            tbody
                                -
                                    var T24Reports = [{id: 3, a1: 1, a2: 1, bool: true }, {id: 4, a1: '2', a2: '2', bool: false }]
                                each T24R in T24Reports
                                    tr
                                        td
                                            input(type='checkbox' name=T24R.id)
                                            |   #{T24R.id}
                                        td #{T24R.a1}
                                        td #{T24R.a2}
                                        if T24R.bool
                                            td.bg-success True
                                        else
                                            td.bg-warning False