extends ../dashboard

block inner-content
  form(method='post', action='/reports')
    h1.text-center.mb-4 Statistics
    .container
      .row
        .col-12.mb-3.text-center
          h3 Filters
      .row
        .col-4.mb-2
          label(for='submitters') Submitter
          input#submitters.form-control(type="text" list="submitter_list" placeholder='id,name,..' name='submitter_name' value=submitterName)
          datalist#submitter_list
            each employee in employees
              option(value=employee.name) #{employee.name}
        .col-2.mt-4
          .custom-control.custom-checkbox
            input#allsub.custom-control-input(
              name='all_submitters'
              type='checkbox'
              onclick='document.getElementById("submitters").disabled=this.checked;'
              checked=allSubmitters
            )
            label.custom-control-label(for='allsub') All Submitters
      .row
        .col-4.mb-2
          label(for='approvers') Approver
          input#approvers.form-control(type="text" list="approver_list" placeholder='id,name,..' name='approver_name' value=approverName)
          datalist#approver_list
            each employee in employees
              option(value=employee.name) #{employee.name}
        .col-2.mt-4
          .custom-control.custom-checkbox
            input#allapp.custom-control-input(
              name='all_approvers'
              type='checkbox'
              onclick='document.getElementById("approvers").disabled=this.checked;'
              checked=allApprovers
            )
            label.custom-control-label(for='allapp') All Approvers
      .row
        .col-4.mb-2
          label(for='costCentres') Cost Centres
          input#costCentres.form-control(type="text" list="cost_centre_list" placeholder='id,number,..' name='cost_centre' value=costCentreName)
          datalist#cost_centre_list
            each cost_centre in cost_centres
              option(value=cost_centre.name) #{cost_centre.name}
        .col-2.mt-4
          .custom-control.custom-checkbox
            input#allcc.custom-control-input(
              name='all_cost_centres'
              type='checkbox'
              onclick='document.getElementById("costCentres").disabled=this.checked;'
              checked=allCostCentres
            )
            label.custom-control-label(for='allcc') All Cost Centres
      .row
        .col-4.mb-3
          label(for='fdate') From
          input.date#fdate.form-control(type='text' name='report_start_date' placeholder='yyyy-mm-dd' value=reportStartDate)
        .col-4.mb-3
          label(for='tdate') To
          input.date#tdate.form-control(type='text' name='report_end_date' placeholder='yyyy-mm-dd' value=reportEndDate)
        .col-2.mt-4
          .custom-control.custom-checkbox
            input#alld.custom-control-input(
              name='all_dates'
              type='checkbox'
              onclick='document.getElementById("tdate").disabled=this.checked; document.getElementById("fdate").disabled=this.checked;'
              checked=allDates
            )
            label.custom-control-label(for='alld') All Date
      input(
        hidden
        name='report_type'
        value='statistics'
      )
      .row
        .col-2.mb-3
          button.btn.btn-success(type='submit') Submit

      hr.mb-4
      p Number of submitted requests: #{submitted}
      p Number of pending request(s): #{pending}
      p Number of approved request(s): #{approved}
      p Number of declined request(s): #{declined}


block scripts
  script.
    $(document).ready(function () {
      if($('#allsub')[0].checked){
        $('#submitters')[0].disabled = true;
      }
      if($('#allapp')[0].checked) {
        $('#approvers')[0].disabled = true;
      }
      if($('#allcc')[0].checked){
        $('#costCentres')[0].disabled = true;
      }
      if($('#alld')[0].checked){
        $('#tdate')[0].disabled = true;
        $('#fdate')[0].disabled = true;
      }
      $('.date').datepicker({
        dateFormat: 'yy-mm-dd'
      });

    });
