extends ../dashboard

block inner-content
  h1 Setting
  .container
    .row
      p.col-3.mt-4 Name
      p.col-3.mt-4 Current Value
      p.col-3.mt-4 New Value
  form(method='post', action='/system/configuration/settings')
    -
    each setting in settingsPug
      .row
        .col-3.mb-3 #{setting.name}
        .col-3.mb-3
          input#settingValue.form-control(type='number' name=setting.name value=setting.value readonly=true)
        .col-3.mb-3
          input#newsettingValue.form-control(type='number' name=newSettingValuePug)
    .row
      .col-2.mb-3
        button.btn.btn-primary.btn-lg(type='submit') Save