extends ../dashboard

block inner-content
  h1 Configuration
  .container
    .row
      p.col-3
      p.col-3.mt-4 Current Value
      p.col-3.mt-4 New Value
  form(method='post', action='/system/configuration')
    .row
      p.col-3.mt-4 Max Per Diem daily amount
      .col-3.mb-3
        label(for='maxDiem')
        input#maxDiem.form-control(type='number' value=max_per_diem_amount_data readonly=true)
      .col-3.mb-3
        label(for='newMaxDiem')
        input#newMaxDiem.form-control(name='newMaxDiem', type='number')
    .row
      p.col-3.mt-4 $ value for Mileage
      .col-3.mb-3
        label(for='mileage')
        input#mileage.form-control(type='number' value=per_mileage_value_data readonly=true)
      .col-3.mb-3
        label(for='newMileage')
        input#newMileage.form-control(name='newMileage', type='number')
    .row
      p.col-3.mt-4 Max per meal expense
      .col-3.mb-3
        label(for='meal')
        input#meal.form-control(type='number' value=max_per_meal_amount_data readonly=true)
      .col-3.mb-3
        label(for='newMeal')
        input#newMeal.form-control(name='newMeal', type='number')
    .row
      .col-2.mb-3
        button.btn.btn-primary.btn-lg(type='submit') Save
