extends ../dashboard

block inner-content
  .row.mb-4
    .col-12.text-center
      h1 Claim #{id}
  .row.mb-1
    .col-12
      h4 Information
  .row.mb-3
    .col-12
      .progress(style='height:35px;')
        .progress-bar.progress-bar-striped.progress-bar-animated(role='progressbar' style='width: 25%;' aria-valuenow='Pending' aria-valuemin='0' aria-valuemax='100') Pending
  .row.mb-4
    .col-md-4
      label(for='employee-id') Submitter
      input#name.form-control(type='text' value='Meilin Guo' readonly=true)
    .col-md-4
      label(for='approver-id') Approver
      input#name.form-control(type='text' value='Liz Liu' readonly=true)
    .col-md-4
      label(for='id') Cost Centre
      input#name.form-control(type='text' value=costCentreNumber readonly=true)
  .row.mb-1
    .col-12
      h4 Items
  .row
    .col-12
      .table-responsive
        table(class='table table-striped table-hover' cellpadding='5')
          thead
            tr
              th #
              th Date
              th Expense Category
              th # Km Travelled
              th GL
              th Total
          tbody(id='claimItems')
            each item in items
              tr
                td=item.id
                td=item.createdAt
                td AUTO GAS (Community or Facilities employees only)
                td=item.numKm
                td=item.gl
                td=item.total
