extends ../dashboard

block inner-content
  h1= "Expense Claim"
  .container
    .py-5
      .row
        .col-md-12.col-lg-12
          .row
            .col-md-4 Claim ID
              input#id.form-control(type="text" value=id readonly=true)
            .col-md-4.mb-4 Cost Centre
              input.form-control(type="text" value=costCentreNumber readonly=true)
            .col-md-4 Claim Status
              input.form-control(type="text" value=status readonly=true)
          br
          h4 Claim Items
          .row
            .table-responsive
              table(class="table table-striped" border="1" cellpadding="5" width="100%")
                thead
                  tr
                    th(width="3%") #
                    th(width="10%") Date
                    th(width="57%") Expense Category
                    th(width="10%") No. KM
                    th(width="10%") GL
                    th(width="10%") Amount $

                tbody(id="claimItems")
                  each item in items
                    tr
                      td=item.id
                      td=item.createdAt
                      td AUTO GAS (Community or Facilities employees only)
                      td=item.numKm
                      td=item.gl
                      td=item.total
