extends ../dashboard

mixin progressBar(status)
  .progress
    case status
      when 'pending'
        .progress-bar.progress-bar-striped.progress-bar-animated(role='progressbar' style='width: 50%;' aria-valuenow='Pending' aria-valuemin='0' aria-valuemax='100') Pending
      when 'approved'
        .progress-bar.bg-success(role='progressbar' style='width: 100%;' aria-valuenow='Approved' aria-valuemin='0' aria-valuemax='100') Approved
      when 'rejected'
        .progress-bar.bg-danger(role='progressbar' style='width: 100%;' aria-valuenow='Rejected' aria-valuemin='0' aria-valuemax='100') Rejected
      when 'forwarded'
        .progress-bar.progress-bar-striped.progress-bar-animated.bg-info(role='progressbar' style='width: 75%;' aria-valuenow='Forwarded' aria-valuemin='0' aria-valuemax='100') Forwarded

mixin expenseClaimLog(employeeExpenseClaim)
  if employeeExpenseClaim.isOwner
    td #{employeeExpenseClaim.Employee.name} submitted the claim.
  else
    if !employeeExpenseClaim.isActive
      td #{employeeExpenseClaim.Employee.name} forwarded the claim.
    else
      td #{employeeExpenseClaim.Employee.name} was assigned to claim.

block inner-content
  .row.mb-4
    .col-12
        .col-12.text-center
          h1 Claim #{expenseClaim.id}
  .row.mb-4
    .col-12
      .row.mb-1
        .col-12
          h4 Information
      .row.mb-3
        .col-12
          label Status
          +progressBar(expenseClaim.status)
      .row.mb-4
        .col-md-4
          label(for='employee-id') Submitter
          input#name.form-control(type='text' value=expenseClaim.submitter.name readonly=true)
        .col-md-4
          label(for='approver-id') Approver
          input#name.form-control(type='text' value=expenseClaim.activeManager.name readonly=true)
        .col-md-4
          label(for='id') Cost Centre
          input#name.form-control(type='text' value=expenseClaim.CostCentre.number readonly=true)
  .row.mb-4
    .col-12
      .row.mb-1
        .col-12
          h4 Items
      .row
        .col-12
          .table-responsive
            table(class='table table-striped table-hover' cellpadding='5')
              thead
                tr
                  th #
                  th Date
                  th Expense Category
                  th # Km Travelled
                  th GL
                  th Total
              tbody(id='claim-items')
                each expenseClaimItem in expenseClaim.ExpenseClaimItems
                  tr
                    td=expenseClaimItem.id
                    td=expenseClaimItem.createdAt
                    td=expenseClaimItem.GL.description
                    td=expenseClaimItem.numKm
                    td=expenseClaimItem.GL.number
                    td=expenseClaimItem.total
  .row.mb-4
    .col-12
      .row.mb-1
        .col-12
          h4 History
      .row.mb-3
        .col-12
          .table-responsive
            table(class='table table-striped table-hover' cellpadding='5')
              thead
                tr
                  th Event
                  th Date
              tbody
                each employeeExpenseClaim in expenseClaim.EmployeeExpenseClaims
                  tr
                    +expenseClaimLog(employeeExpenseClaim)
                    td= employeeExpenseClaim.createdAt
