extends ../dashboard

mixin progressBar(status)
  .progress
    case status
      when 'pending'
        .progress-bar.progress-bar-striped.progress-bar-animated(role='progressbar' style='width: 50%;' aria-valuenow='Pending' aria-valuemin='0' aria-valuemax='100') Pending
      when 'approved'
        .progress-bar.bg-success(role='progressbar' style='width: 100%;' aria-valuenow='Approved' aria-valuemin='0' aria-valuemax='100') Approved
      when 'rejected'
        .progress-bar.bg-danger(role='progressbar' style='width: 100%;' aria-valuenow='Rejected' aria-valuemin='0' aria-valuemax='100') Rejected
      when 'forwarded'
        .progress-bar.progress-bar-striped.bg-info(role='progressbar' style='width: 100%;' aria-valuenow='Forwarded' aria-valuemin='0' aria-valuemax='100') Forwarded

mixin receiptRow(expenseClaimItem)
  if (expenseClaimItem.Receipt && expenseClaimItem.Receipt.key)
    td
      - var resourceUrl = `https://s3-${s3Region}.amazonaws.com/${s3BucketName}/${encodeURIComponent(expenseClaimItem.Receipt.key)}`
      if (expenseClaimItem.Receipt.type === 'application/pdf')
        iframe(src=`https://docs.google.com/gview?url=${resourceUrl}&embedded=true` style='' frameborder='0')
      else
        img.img-receipt.img-fluid(src=resourceUrl crossorigin='anonymous')
  else
    td

mixin expenseClaimLog(employeeExpenseClaim)
  if employeeExpenseClaim.isOwner
    td #{employeeExpenseClaim.Employee.name} submitted the claim.
  else
    if !employeeExpenseClaim.isActive
      td #{employeeExpenseClaim.Employee.name} forwarded the claim.
    else
      td #{employeeExpenseClaim.Employee.name} was assigned to claim.

mixin updateButtons(employee)
  if managerCanApprove
    .col-2.mb-3
      button#approved.btn.btn-primary.btn-lg.btn-success(type='submit' name='status' value='approved') Approve
  .col-2.mb-3
    button#rejected.btn.btn-primary.btn-lg.btn-danger(type='submit' name='status' value='rejected') Reject

mixin forwardButtons(employee)
  .col-2.mb-3
    if !managerCanApprove
      button#forwarded.btn.btn-primary.btn-lg.btn-info(type='submit') Forward


block inner-content
  .row.mb-4
    .col-12
        .col-12.text-center
          h1 Claim #{expenseClaim.id}
  .row.mb-4
    .col-12
      .row.mb-1
        .col-12
          h2 Information
      .row.mb-3
        .col-12
          label Status
          +progressBar(expenseClaim.status)
      .row.mb-4
        .col-md-6
          label(for='employee-id') Submitter
          input#name.form-control(type='text' value=expenseClaim.submitter.name readonly=true)
        .col-md-6
          label(for='approver-id') Approver
          input#name.form-control(type='text' value=expenseClaim.activeManager.name readonly=true)
      .row
        .col-md-6
          label(for='cost-centre-number') Cost Centre
          input#cost-centre-number.form-control(type='text' value=expenseClaim.CostCentre.number readonly=true)
        .col-md-6
          label(for='bank-account-number') Bank Account
          input#name.form-control(type='text' value=expenseClaim.bankNumber readonly=true)
  .row.mb-4
    .col-12
      .row.mb-1
        .col-12
          h2 Items
      .row
        .col-12
          .table-responsive
            table(class='table table-striped table-hover' cellpadding='5')
              thead
                tr
                  th #
                  th Date
                  th Expense Category
                  th km
                  th Receipt
                  th GL
                  th Total
              tbody(id='claim-items')
                each expenseClaimItem in expenseClaim.ExpenseClaimItems
                  tr
                    td= expenseClaimItem.id
                    td= expenseClaimItem.createdAt
                    td= expenseClaimItem.GL.description
                    td= expenseClaimItem.numKm
                    +receiptRow(expenseClaimItem)
                    td= expenseClaimItem.GL.number
                    td= expenseClaimItem.total
  .row.mb-4
    .col-12
      .row.mb-1
        .col-12
          h2 History
      .row.mb-3
        .col-12
          .table-responsive
            table(class='table table-striped table-hover' cellpadding='5')
              thead
                tr
                  th Event
                  th Date
              tbody
                each employeeExpenseClaim in expenseClaim.EmployeeExpenseClaims
                  tr
                    +expenseClaimLog(employeeExpenseClaim)
                    td= employeeExpenseClaim.createdAt

  if isActiveManager
    .row.mb-4
      form(method='post', action='/claims/' + expenseClaim.id)
        +updateButtons(employee)
      form(method='get' action='/claims/' + expenseClaim.id + '/forwardees')
        +forwardButtons(employee)

block scripts
  script.
    $(document).ready(function () {
      $('.img-receipt')
        .wrap('<span style="display:inline-block"></span>')
        .css('display', 'block')
        .parent()
        .zoom({
          on: 'grab',
          callback: function () {
            $(this).parent().css({
              'cursor': 'pointer',
            });
          },
        });
    });


