extends ../dashboard

mixin claims(expenseClaims, status)
  each expenseClaim in expenseClaims
    if !status || expenseClaim.status === status
      tr
        td= expenseClaim.id
        td= expenseClaim.createdAt
        if expenseClaim.activeManager
          td= expenseClaim.activeManager.name
        else
          td= expenseClaim.submitter.name
        td= expenseClaim.description
        case expenseClaim.status
          when 'pending'
            td.bg-warning Pending
          when 'approved'
            td.bg-success Approved
          when 'rejected'
            td.bg-danger Rejected
          when 'forwarded'
            td.bg-info Forwarded

block inner-content
  .row.mb-4
    .col-12.text-center
      h1 Claims
  .row.mb-4
    a.col-12(href='/claims/new')
      button.btn.btn-primary.btn-lg.btn-block.btn-success New
  .row.mb-3
    .col-12.text-center
      h2 Submitted
  .row.mb-3
    .col-md-12.col-lg-12
      ul.nav.nav-tabs
        li.nav-item
          a(class='nav-link active' href='#submitted-all' id='all-tab' data-toggle='tab' aria-controls='home' aria-expanded='true') All
        li.nav-item
          a(class='nav-link' href='#submitted-pending' id='pending-tab' data-toggle='tab') Pending
        li.nav-item
          a(class='nav-link' href='#submitted-approved' id='approved-tab' data-toggle='tab') Approved
        li.nav-item
          a(class='nav-link' href='#submitted-rejected' id='rejected-tab' data-toggle='tab') Rejected
      div.tab-content
        div.tab-pane.show.active(id='submitted-all')
          .table-responsive
            table(class='table table-striped table-hover' cellpadding='5')
              thead
                tr
                  th Claim ID
                  th Date
                  th Manager
                  th Description
                  th Current Status
              tbody
                +claims(expenseClaims.submitted)
        div.tab-pane(id='submitted-pending')
          .table-responsive
            table(class='table table-striped table-hover' cellpadding='5')
              thead
                tr
                  th Claim ID
                  th Date
                  th Manager
                  th Description
                  th Current Status
              tbody
                +claims(expenseClaims.submitted, 'pending')
        div.tab-pane(id='submitted-approved')
          .table-responsive
            table(class='table table-striped table-hover' cellpadding='5')
              thead
                tr
                  th Claim ID
                  th Date
                  th Manager
                  th Description
                  th Current Status
              tbody
                +claims(expenseClaims.submitted, 'approved')
        div.tab-pane(id='submitted-rejected')
          .table-responsive
            table(class='table table-striped table-hover' cellpadding='5')
              thead
                tr
                  th Claim ID
                  th Date
                  th Manager
                  th Description
                  th Current Status
              tbody
                +claims(expenseClaims.submitted, 'rejected')
  .row.mb-3
    .col-12.text-center
      h2 Managed
  .row.mb-3
    .col-md-12.col-lg-12
      ul.nav.nav-tabs
        li.nav-item
          a(class='nav-link active' href='#managed-all' id='all-tab' data-toggle='tab' aria-controls='home' aria-expanded='true') All
        li.nav-item
          a(class='nav-link' href='#managed-pending' id='pending-tab' data-toggle='tab') Pending
        li.nav-item
          a(class='nav-link' href='#managed-approved' id='approved-tab' data-toggle='tab') Approved
        li.nav-item
          a(class='nav-link' href='#managed-rejected' id='rejected-tab' data-toggle='tab') Rejected
        li.nav-item
          a(class='nav-link' href='#managed-forwarded' id='forwarded-tab' data-toggle='tab') Forwarded
      div.tab-content
        div.tab-pane.show.active(id='managed-all')
          .table-responsive.table-hover
            table(class='table table-striped table-hover' cellpadding='5')
              thead
                tr
                  th Claim ID
                  th Date
                  th Manager
                  th Description
                  th Current Status
              tbody
                +claims(expenseClaims.managed)
        div.tab-pane(id='managed-pending')
          .table-responsive
            table(class='table table-striped table-hover' cellpadding='5')
              thead
                tr
                  th Claim ID
                  th Date
                  th Manager
                  th Description
                  th Current Status
              tbody
                +claims(expenseClaims.managed, 'pending')
        div.tab-pane(id='managed-approved')
          .table-responsive
            table(class='table table-striped table-hover' cellpadding='5')
              thead
                tr
                  th Claim ID
                  th Date
                  th Manager
                  th Description
                  th Current Status
              tbody
                +claims(expenseClaims.managed, 'approved')
        div.tab-pane(id='managed-rejected')
          .table-responsive
            table(class='table table-striped table-hover' cellpadding='5')
              thead
                tr
                  th Claim ID
                  th Date
                  th Manager
                  th Description
                  th Current Status
              tbody
                +claims(expenseClaims.managed, 'rejected')
        div.tab-pane(id='managed-forwarded')
          .table-responsive
            table(class='table table-striped table-hover' cellpadding='5')
              thead
                tr
                  th Claim ID
                  th Date
                  th Manager
                  th Description
                  th Current Status
              tbody
                +claims(expenseClaims.managed, 'forwarded')


