extends ../dashboard
block scripts
    script(src='javascript/newclaim.js' )
    script(src="https://cdn.jsdelivr.net/npm/vue")

block inner-content
    .container
        .py-5
            .row
                .col-md-8
                    form.needs-validation(novalidate='')
                        //TODO pre-filled name and emp ID
                        .row
                            .col-md-6.mb-3
                                label(for='name') Name
                                input#name.form-control(type='text' value='Liz Lu' readonly=true)
                            .col-md-6.mb-3
                                label(for='employeeID') Employee ID
                                input#employeeID.form-control(type='number' value='12345678' readonly=true)
                        .row
                            .col-md-4.mb-3
                                label(for='date') Date
                                input#date.form-control(type='date' value='' required='')
                            //cost centre
                            .col-md-4.mb-3
                                label(for='costCentre') Cost Centre
                                select#costCentre.custom-select(required='')
                                    option(value='') Choose...
                                    option 0754
                                    //TODO add more options from database
                                    .invalid-feedback
                                        | Please select a valid cost centre.
                            .col-md-4
                                .mb-0 CCS Account
                                    .custom-control.custom-radio
                                        input#CCS.custom-control-input(name='ccsacct' type='radio' required='' onclick='showText()')
                                        label.custom-control-label(for='CCS') YES

                                    .custom-control.custom-radio
                                        input#nonCCS.custom-control-input(name='ccsacct' type='radio' required='' onclick='hideBankAcct()')
                                        label.custom-control-label(for='nonCCS') NO
                            .col-12.mb-3
                                label(for='bankAcct' style='visibility:hidden' id='bankAcctLable') Bank Account #
                                input#bankAcct.form-control(style='visibility:hidden' type='text' required='' maxlength='14' minlength='14')
                        //expense claim form
                        div(id="field")
                        div(id="field0")
                            hr.mb-4
                        .row
                            .col-xs-2 #1
                            .col-md-2
                                label(for="itemDate") Date
                                input#itemDate.form-control(type="date" value="" required="")
                            .col-md-3
                                label(for="expCat") Expense Category
                                select#expCat.custom-select(required="" onchange="getVal(this)")
                                    option Choose...
                                    option(value= "gas") AUTO GAS (Community or Facilities employees only)
                                    option(value= "repairs") AUTO REPAIRS (Community or Facilities employees only)
                                    option(value= "books") BOOKS & SUBSCRIPTIONS (Newspaper, magazine, website subscription)
                                    option(value= "conference") CONFERENCE FEE (Registration, travel, & hotel relating to conference)
                                    option(value= "customer") DELIGHT THE CUSTOMER (For customer benefit only)
                                    option(value= "fun") FUND FOR FUN
                                    option(value= "golf") GOLF (For business development and relationship building, NO FOOD)
                                    option(value= "hotel") HOTEL (Room only, NO FOOD)
                                    option(value= "staff") MEALS & ENTERTAINMENT STAFF (Food, beverage)
                                    option(value= "promo") MEALS & ENTERTAINMENT PROMO(Food,beverage when entertaining clients)
                                    option(value= "meeting") MEETINGS (Room/equipment rental for business meetings, NO FOOD)
                                    option(value= "mileage") MILEAGE (kilometres traveled using personal vehicle)
                                    option(value= "other") OTHER (Miscellaneous expenses)
                                    option(value= "parking") PARKING (Hourly, daily, monthly parking cost)
                                    option(value= "dues") PERSONAL/PROF DUES, MBERSHP
                                    option(value= "prizes") PRIZES
                                    option(value= "tel") TELEPHONE (Telephone, cell, pager, internet stick)
                                    option(value= "travel") TRAVEL (Hotel, ferry, taxi, parking, mileage)
                                .invalid-feedback
                                    | Please select an expense category
                            .col-sm-2
                                label(for="GL") GL
                                select#GL.custom-select(required="")
                                    option Choose...
                                    option(value="1") 633710
                            .col-sm-2
                                label(for="receiptTotal") Receipt Total
                                input#receiptTotal.form-control(type="number" step="0.01" value="" required="")
                            .col-sm-2 Receipt Lost
                                .custom-control.custom-radio
                                    input#lost.custom-control-input(name="lost" type="checkbox" onclick="receiptLost(this)")
                                    label.custom-control-label(for="lost"  value="1") YES
                                    input#receipt.form-control-sm(type="file" required="")
                        .row(id="newDesp")
                            .col-md-4
                                label(for="description") Description
                                input#description.form-control(type="text" value="" size="30" required="")
                            .col-md-4
                                label(for="nokm") No. of KM Travelled
                                input#nokm.form-control(type="number" step="0.01" placeholder="$0.54<5000KM, $0.48>5000KM" value="" required="")
                            .col-md-2
                                label(for="mileage") Mileage Amount
                                input#mileage.form-control(type="number" step="0.01" value="" readonly=true)
                            .col-md-2
                                label(for="total") Total
                                input#total.form-control(type="number" step="0.01" value="" readonly=true)

                            div(id="button")
                                hr.mb-4
                                .row.md-3.justify-content-between
                                    .col-mb-10
                                        input#addNew.form-control(type="button" value="Add Another Item")

                                    .col-mb-1-span-5
                                        label(for='totals') Total
                                            input#totals.form-control(type="number" step="0.01" value="" readonly=true)
                                .row.md-3.justify-content-end
                                    button.btn.btn-primary.btn-lg(type="submit") Submit


        // TODO expCat and GL should be auto-filled once one is filled in
        // TODO auto calculated total $ based on receipt total and mileage
        //TODO auto calculate totals //onclick='addRow()'
        //TODO auto calculated based on no km travelled
        // TODO add more options from database
        //TODO add a new row
        //TODO auto calculation
        script.
            var next = 0;
            var showText = function () {
                document.getElementById('bankAcctLable').style.visibility = 'visible';
                document.getElementById('bankAcct').style.visibility = 'visible';
                document.getElementById('receipt').required = 'true';
            }

            function hideBankAcct() {
                document.getElementById('bankAcctLable').style.visibility = 'hidden';
                document.getElementById('bankAcct').style.visibility = 'hidden';
                document.getElementById('receipt').required = 'false';
            }

            function receiptLost(checkbox){
                var visibility = checkbox.value;
                if(visibility % 2 != 0){
                    document.getElementById('receipt').style.visibility = 'hidden';
                    document.getElementById('receipt').required = 'false';
                    checkbox.value = 2;
                }
                else{
                    document.getElementById('receipt').style.visibility = 'visible';
                    document.getElementById('receipt').required = 'true';
                    checkbox.value = 1;
                }
            }

            $("#addNew").click(function (e) {
                e.preventDefault();
                var addto = "#field" + next;
                var addRemove = "#field" + (next);
                next = next + 1;
                var newIn = '<div id="field'+ next +'" name="field' + next + '"><hr><div class="row">  <div class="col-xs-2">#</div>  <div class="col-md-2">      <label for="itemDate">Date</label>     <input id="itemDate" type="date" value="" required="" class="form-control input-md">   </div>  <div class="col-md-3">      <label for="expCat">Expense Category</label>     <select id="expCat" required="" class="custom-select">   <option value="">Choose...</option>  <option value="gas">AUTO GAS (Community or Facilities employees only) </option></select>  </div> <div class="col-sm-2">     <label for="GL">GL</label><select id="GL" required="" class="custom-select">   <option value="">Choose...</option>  <option value="1">633710 </option></select></div><div class="col-sm-2">      <label for="receiptTotal">Receipt Total</label>     <input id="receiptTotal" type="number" step="0.01" value="" required="" class="form-control input-md">   </div><div class="col-sm-2"> Receipt Lost     <input id="lost" type="checkbox" value="" required="" class="custom-control-input"> <label for="lost">YES</label><input id="receipt" type="file" required="" class="form-control-sm">   </div></div><div class="row">    <div class="col-md-4">Description        <input id="description" type="text" value="" required="" size="30" class="form-control">    </div>    <div class="col-md-4">No. of KM Travelled        <input id="nokm" type="number" step="0.01" placeholder="$0.54<5000KM, $0.48>5000KM" value="" required="" class="form-control">    </div>    <div class="col-md-2">Mileage Amount        <input id="mileage" type="number" step="0.01" value="" required="" class="form-control" readonly="true">    </div>    <div class="col-md-2">Total        <input id="total" type="number" step="0.01" value="" required="" class="form-control" readonly="true">    </div></div>';
                var newInput = $(newIn);
                var removeBtn = '<button id="remove' + (next - 1) + '" class="btn btn-danger remove-me" >Remove</button></div></div><div id="field">';
                var removeButton = $(removeBtn);
                $(addto).after(newInput);
                //$(addRemove).after(removeButton);
                $("#field" + next).attr('data-source', $(addto).attr('data-source'));
                $("#count").val(next);

                //$('.remove-me').click(function (e) {
                //e.preventDefault();
                //    var fieldNum = this.id.charAt(this.id.length - 1);
                //    var fieldID = "#field" + fieldNum;
                //$(this).remove();
                //$(fieldID).remove();
                //});
            });

