extends ../dashboard

block inner-content
  .container
    .py-5
     form.row.needs-validation(novalidate='', action='/claims', method='POST')
       .col-md-8
         .row
           .col-md-6.mb-3
             label(for='name') Name
             input#employee-name.form-control(type='text' value='Liz Lu' readonly=true)
           .col-md-6.mb-3
             label(for='employee-id') Employee ID
             input#employee-id.form-control(type='number' value='12345678' readonly=true)
         .row
           .col-md-4.mb-3
             label(for='date') Date
             input#date.form-control(type='date' value='' required='')
           .col-md-4.mb-3
             label(for='cost-centre') Cost Centre
             select#cost-centre.custom-select(name='costCentre' required='')
               option(value='') Choose...
               option 0754
               .invalid-feedback
                 Please select a valid cost centre.
           .col-md-4.mb-3
             .mb-0 CCS Account
               .custom-control.custom-radio
                 label.custom-control-label(for='ccs') YES
                 input#ccs-account.custom-control-input(type='radio' required='')
               .custom-control.custom-radio
                 label.custom-control-label(for='non-ccs') NO
                 input#non-ccs.custom-control-input(type='radio' required='')
           .col-12.mb-3
               label(for='bank-account' style='visibility:hidden') Bank Account #
               input#bank-account.form-control(style='visibility:hidden' type='text' required='' maxlength='14' minlength='14')
         .row
           hr.mb-4
           .row
             .col-md-1 1
             .col-md-2
               label(for='item-date') Date
               input#item-date.form-control(type='date' value='' required='')
             .col-md-4
               label(for='expense-category') Expense Category
               select#expense-category.custom-select(required='')
                 option Choose...
                 option(value= 'gas') AUTO GAS (Community or Facilities employees only)
                 option(value= 'repairs') AUTO REPAIRS (Community or Facilities employees only)
                 option(value= 'books') BOOKS & SUBSCRIPTIONS (Newspaper, magazine, website subscription)
                 option(value= 'conference') CONFERENCE FEE (Registration, travel, & hotel relating to conference)
                 option(value= 'customer') DELIGHT THE CUSTOMER (For customer benefit only)
                 option(value= 'fun') FUND FOR FUN
                 option(value= 'golf') GOLF (For business development and relationship building, NO FOOD)
                 option(value= 'hotel') HOTEL (Room only, NO FOOD)
                 option(value= 'staff') MEALS & ENTERTAINMENT STAFF (Food, beverage)
                 option(value= 'promo') MEALS & ENTERTAINMENT PROMO(Food,beverage when entertaining clients)
                 option(value= 'meeting') MEETINGS (Room/equipment rental for business meetings, NO FOOD)
                 option(value= 'mileage') MILEAGE (kilometres traveled using personal vehicle)
                 option(value= 'other') OTHER (Miscellaneous expenses)
                 option(value= 'parking') PARKING (Hourly, daily, monthly parking cost)
                 option(value= 'dues') PERSONAL/PROF DUES, MBERSHP
                 option(value= 'prizes') PRIZES
                 option(value= 'tel') TELEPHONE (Telephone, cell, pager, internet stick)
                 option(value= 'travel') TRAVEL (Hotel, ferry, taxi, parking, mileage)
               .invalid-feedback
                 | Please select an expense category
             .col-md-3
               label(for='gl') GL
               select#gl.custom-select(name='gl' required='')
                 option Choose...
                 option(value='1') 633710
             .col-md-2
               label(for='receipt-total') Receipt Total
               input#receipt-total.form-control(type='number' value='' required='')
         .row.mb-2
           .col-md-3
             label(for='num_km') No. of Km Travelled
             input#num_km.form-control(name='num_km' type='number' placeholder='$0.54<5000KM, $0.48>5000KM' value='' required='')
           .col-md-3
             label(for='mileage') Mileage Amount
             input#mileage.form-control(type='number' value='' readonly=true)
           .col-md-2
             .mb-3 Receipt Lost
             .custom-control.custom-radio
               input#receipt-lost.custom-control-input(type='checkbox')
           .col-md-4#upload
             label(class='custom-file-label' for='receipt') Choose Receipt
             input#receipt.form-control(name='receipt' class='custom-file-input' type='file' required='')
         .row
           .col-md-9
             label(for='description') Description
             input#description.form-control(name='description' type='text' value='' size='70' required='')
           .col-md-3
             label(for='total') Total
             input#total.form-control(type='number' value='' readonly=true)
         .mb-3
           label(for='add-item')
           input#add-item(type='button' value='Add Item')
       .col-md-4
         .row
           .col-12.mb-3
             label(for='previous-total-mileage') Previous Total Mileage
             input#previous-total-mileage.form-control(type='number' value='' required='')
         .row
           .col-12.mb-3
             label(for='carry-mileage') Carry Forward Mileage
             input#carry-mileage.form-control(type='number' value='' readonly=true)
         .row
           .col-12
             hr
             .mb-3
               label(for='total') Total
               input#total.form-control(type='number' value='' readonly=true)
         .row
           .col-12
             hr.mb-4
             button.btn.btn-primary.btn-lg(type='submit') Submit
