extends ../dashboard

block inner-content
  h1.mb-4.text-center Users
  .row.mb-3
    .col-md-12.col-lg-12
      form(action='/users')
        .row.mb-4
          .col-lg-6
            input.w-100.form-control(type='text' name='filter' placeholder='id1,id2,id3...')
          .col-lg-6
            button.w-100(type='submit' class='btn btn-success') Search
        div.tab-content.clickable.mb-3
          div.tab-pane.show.active(id='user')
            .table-responsive
              table(class='table table-striped table-hover' cellpadding='5')
                thead
                  tr
                    th ID
                    th Email
                    th Name
                    th Manager ID
                    th Manager Name
                    th Type
                tbody
                  each user in users
                    tr
                      td#id= user.id
                      td= user.email
                      td= user.name
                      td= user.managerId
                      if user.manager
                        td= user.manager.name
                      else
                        td
                      if user.isAdmin
                        td.table-success Admin
                      else
                        td.table-warning User
  h1.mb-4.text-center New
  .row
    .col-12
      form(method='POST' action='/users')
        .row.mb-4
          .col-md-6
            label(for='employee-id') ID
            input#employee-id.form-control(type='number' name='id')
          .col-md-6
            label(for='employee-name') Name
            input#employee-name.form-control(type='text' name='name')
        .row.mb-4
          .col-md-6
            label(for='manager-id') Manager ID
            input#manager-id.form-control(type='number' name='managerId')
          .col-md-6
            label(for='employee-email') Email
            input#employee-email.form-control(type='text' name='email')
        .row.mb-4
          .col-md-6
            label(for='employee-password') Password
            input#employee-password.form-control(type='password' name='password')
        .row.mb-4
          .col-12
            button.w-100(type='submit' class='btn btn-success') Add


block scripts
  script.
    $(document).ready(function () {
      $('.table tr').on('click', function (event) {
        window.location = '/users/' + $(event.target).closest('tr').find('td#id').first().text();
      });
    });
